{% extends 'base/base.html' %}
{% load static %}

{% block title %} EducoNet - Comunidad {% endblock %}

{% block body %}
    {% include 'base/header.html' with page='community' %}

        <div class="container mt-5">

        {% if community_count > 0 %}

            {% for group in community_list %}
                <div class="row">
                    {% for community in group %}
                        <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center m-5">
                                    <h2>
                                        <strong class="">{{ community.name }}</strong>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            {% if community.image %}
                                <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                            {% else %}
                                <div class="col">
                            {% endif %}
                            <div class="about_box">
                                <p>
                                    {{ community.description }}
                                </p>
                            </div>
                            </div>
                            {% if community.image %}
                                <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                                    <div class="align-top">
                                        <figure>
                                            <img style="width: auto; height: 15rem;" src="{{ community.image.url }}"
                                                 alt="img"/>
                                        </figure>
                                    </div>
                                </div>
                            {% endif %}

                            </div>
                        </div>
                    {% endfor %}

                    </div>
                    <div class="pagination" style="margin-top: 1rem;margin-bottom: 1rem;color: #0b2e13;">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}">Anterior |</a>
                            {% endif %}
                            <span class="current">
                                <strong>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</strong>
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">| Siguiente</a>
                            {% endif %}
                        </span>
                    </div>

                </div>

            {% endfor %}



        {% else %}

            <div class="container mb-5">
                <div class="row">

                    <div class="col">
                        <h3 class="text-center text-black-50">No se han encontrado articulos en la base de
                            datos.</h3>
                    </div>
                </div>
            </div>


        {% endif %}
    </div>




    {% include 'base/footer.html' %}
{% endblock %}